@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p></p>
<script type="text/javascript">
//interesting
    // this would be in a js class file of some sort
    function Patient() {
        this.FirstName = null;
        this.LastName = null;
    }

    $.ajaxSetup({
        "error": function (XMLHttpRequest, textStatus, errorThrown) { alert(errorThrown); }
    });

    $(document).ready(function () {
        $.getJSON('Home/GetPatient', { patientID: 5 }, function (data) {
            var patient = data.Patient;
            var myName = patient.FirstName + " " + patient.LastName;

            $('p').text(myName);
        });
    });

</script>
