@model MvcActions.IActionSingleResult

@{
    var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    var controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();    
}

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<div><a id='btnUpdate' href='@Url.Action("Update", controller)?id=@Model.ID'>Update</a><a href='@Url.Action("Delete", controller)Action?id=@Model.ID'>Delete</a><a href='@Url.Action("", controller)'>Return</a></div>
@RenderBody()