@{
    ViewBag.Title = "Grid";
    Layout = "~/Views/Shared/_Grid.cshtml";
}
<table id='grid'>
    <thead>
        <tr>
            <th id='PatientID' class='patientLink style'>
            </th>
            <th id='FirstName'>
                First Name
            </th>
            <th id='LastName'>
                Last Name
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        loadMenu("Patient");

        $("#grid").appgrid("addCellRenderer", {
            id: "patientLink",
            callback: function (options) {              
                return "<td><a href='" + BaseUrl + "Patient/read?id=" + options.obj[options.key] + "'>view</a></td>";
            }
        });

        $("#grid").appgrid("load", { url: "api/patientapi" });
    });
</script>
