@model MvcActions.Patients.GetPatientResult

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Read.cshtml";
}   

    <p>Patient ID : @Model.Patient.PatientID </p>
    <p>First Name : @Model.Patient.FirstName</p>
    <p>Last Name : @Model.Patient.LastName</p>
